<%- include('parts/header.ejs') %>
<title> Add Product </title>

<%- include('parts/navbar.ejs') %> 


<div class="container mt-5">
    <!-- enctype="multipart/form-data" -->
    <form action="/product" method="post" >
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input name="name" type="text" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Price</label>
            <input name="price" type="number" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Discription</label>
            <textarea name="discription" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <select name="category" class="form-select mb-3" aria-label="Default select example">
            <option selected>Category</option>
            <option value="keybord">keybord</option>
            <option value="mouse">mouse</option>
            <option value="gaming chair">gaming chair</option>
            <option value="radiator">radiator</option>
            <option value="grapic card">grapic card</option>
        </select>
        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Chose Image</label>
            <input name="image" class="form-control" type="file" id="formFileMultiple" multiple>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-info btn-lg">Add Product</button>
        </div>
    </form>
</div>

<%- include('parts/footer.ejs') %> 

